.capa-login {
  background-image: url('Landing-Page.jpg');
  background-size: cover;
  height: 696px;
}

.email {
  position: absolute;
  width: 276px;
  height: 40px;
  left: 950px;
  top: 360px;
}

.senha {
  position: absolute;
  width: 276px;
  height: 40px;
  left: 950px;
  top: 395px;
}

.button-login {
  position: absolute;
  width: 255px;
  height: 30px;
  left: 950px;
  top: 430px;
}

.footer {
  position: absolute;
  width: 1500px;
  height: 65px;
  left: 0px;
  top: 2500px;
  background: rgba(0, 250, 154);
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
}

.button-drinks {
  position: absolute;
  width: 150px;
  height: 45px;
  left: 10px;
  top: 10px;
}

.button-meals {
  position: absolute;
  width: 200px;
  height: 45px;
  left: 1100px;
  top: 10px;
}

.boxHeader {
  top: 100px;
  height: 200px;
}

.container-title {
  position: absolute;
  width: 1500px;
  height: 65px;
  left: 0px;
  top: 0px;
  background: rgba(0, 250, 154);
}

.recipes-app-title {
  position: absolute;
  width: 109px;
  height: 17px;
  left: 150px;
  top: 10px;
}

.recipes-app-title-2 {
  position: absolute;
  width: 109px;
  height: 17px;
  left: 310px;
  top: 10px;
}

.button-search {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1250px;
  top: 20px;
}

.button-profile {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1300px;
  top: 20px;
}

.image-meals {
  position: absolute;
  left: 48%;
  right: 46%;
  top: 13%;
  bottom: 86.81%;
}

.title-header {
  position: absolute;
  left: 46,9%;;
  right: 47.59%;
  top: 19%;
  bottom: 86.81%;
}

.buttons-header {
  display: flex;
  justify-content: center;
  align-itens: center;
  justify-content: space-evenly;
}

.botoes-header {
  width: 220px;
}

.div-card {
  display: flex;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 15px;
}

.imagens-drink-e-meals {
  width: 200px;
}

.div-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.div-geral-detalhes {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-detalhes {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 5px;
}

.div-detalhes {
  align-itens: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  width: 230px;
}

.img-detalhes {
  width: 200px;
}

.title-detalhes {
  text-align: center;
}

.category-detalhes {
  text-align: center;
}

.div-ingredientes {
  margin-left: 60px;
}

.preparo {
  padding: 15px;
}

.recomendacao {
  
}