body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}

  body {
  background-image: url('capa.png');
  background-size: cover;
}


.capa-login {
  display: flex;
  align-itens: center;
  justify-content: center;
  flex-direction: column;

}

.email {
  
}

.senha {
  
}

.button-login {
 
}
